* {
	box-sizing: border-box;
}

.navBut {
	display: inline-block;
}

body {
	margin: 0;
	font-family: "Helvetica";
	background-color: #e6e6ff;
	/*background-color: #ccccff;*/
}

main {
	margin:	15px;
}

header {
	color: white;
	background-color: #0066ff;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	height: 100px;
	font-size: 42px;
	padding-top: 25px;
}

h1, h3, h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

.instrucSearchBlock, .searchInfo {
	background-color: white;
	border:	5px solid gray;
	border-radius: 10px;
	margin-left: 25%;
	margin-right: 25%;
	padding: 20px;
	margin-bottom: 50px;
}

.searchInfo {
	display: none;
	text-decoration: none;
	margin-left: 33.3%;
	margin-right: 33.3%;
}

ul {
	/*list-style-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Triskele-hollow-triangle.svg/1000px-Triskele-hollow-triangle.svg.png');*/
	padding-left: 0;
	margin-top: 8px;
}

.newSearch {
	text-align: center;
}

.recipeLabel {
	margin-top: 10px;
	margin-bottom: 10px;
}

.recipeSpecs {
	margin-bottom: 10px;
}

.advSearch {
	font-weight: 700;
	margin-bottom: 8px;
	font-size: 20px;
	text-decoration: underline;
}

.searchTerm {
	text-align: center;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 15px 15px -15px #8c8b8b inset;
}

input {
	margin-bottom: 10px;
	font-size: 15px;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

#query {
	padding: 12px 12px;
	width: 75%;
	border-radius: 5px;
}

.low, .high, .numIng {
	width: 15%;
	border-radius: 5px;
}

.qSubmit {
	padding: 12px 12px;
	width: 15%;
	border-radius: 5px;
	font-size: 15px;
}

legend {
	font-weight: 700;
	margin-bottom: 5px;
}

.resRecipe {
	text-align: center;
}

.instrucBut{
	border: 1px solid #999;
}

.newSearchBut {
	padding: 10px 10px;
	width: 30%;
	border-radius: 5px;
	font-size: 15px;
}

@media only screen and (max-width: 640px) {
	.allergy {
		display: block;
		background-color: red;
	}
}